body {background-color:black;font-family:arial;color=white}
h1{color:grey;font-family:verdana;font-size:50px;text-align:center}
.maindiv{
    background-color:white;
    color:black;
    width:1100px;
    margin:80px;
    padding:20px;
    border-radius:25px;
}
.sec_div{
    margin-left:400px;
    padding:20px;
}
.sec2_div{
    margin-left:200px;
}